
.jwt{
    padding: 20px;

    background-color: red;
}

.base{
    padding: 20px;

    background-color: orange;
}


.peter{
    padding: 20px;

    background-color: coral;
}


.admin{
    padding: 20px;

    background-color: grey;
}