
.jwt{
    padding: 20px;

    background-color: red;
}

.base{
    padding: 20px;

    background-color: orange;
}


.peter{
    padding: 20px;

    background-color: coral;
}


.admin{
    padding: 20px;

    background-color: grey;
}



.allUsers{
    padding: 20px;

    background-color: pink;
}


.addUser{
    padding: 20px;

    background-color: green;
}

.changeUser{
    padding: 20px;

    background-color: magenta;
}



.deleteUser{
    padding: 20px;

    background-color: cornflowerblue;
}